<div class="container" style="padding-top:60px">
    <div class="row">
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>Hi, my name is Muhammad. I like web development, specifically front end development. I am currently
                    exploring back end development! This term I hope I can secure a web developer internship for the
                    summer term.</p>
                <p>Aside from school, I like photography, sketching, painting, and digital art. I also like going on
                    walks, playing frisbee and looking at scenery.</p>
                <p>I know this blogging website looks bland right now but it will soon be styled to ABSOLUTE PERFECTION!
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur neque, corporis quaerat, modi
                    maiores assumenda asperiores inventore officia accusamus nobis non. Ea quisquam voluptatum maxime
                    accusantium hic aspernatur ut, repellendus suscipit neque tenetur! Quasi, ducimus. Nihil molestiae
                    perspiciatis unde ipsum! Maiores, eum? Dolorem, magnam! Dignissimos deleniti beatae cupiditate
                    recusandae facilis, mollitia quasi et possimus magni corrupti inventore earum excepturi est non
                    laboriosam labore libero voluptas. Maxime molestiae enim modi voluptatum illo aperiam hic iure
                    consectetur, eaque totam ipsam soluta ab ex amet laudantium quos neque ducimus vero quam nesciunt
                    ratione. Tempore, quaerat exercitationem! Consectetur velit laboriosam tempora nesciunt dolorem
                    veritatis.</p>
            </article>
        </section>
        <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Stay tuned for a future updates. They will be logged here.</p>
        </aside>
    </div>
</div>

